/* Dark Mode Styles for About Page */
body {
  background-color: #121212; /* Dark background for the entire page */
  color: #e0e0e0; /* Light text color for readability */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Default font */
  margin: 0; /* Remove default margin */
  overflow-x: hidden; /* Hide horizontal overflow if necessary */
}

header {
  background-color: rgba(0, 0, 0, 0.3); /* Slightly transparent black */
  position: fixed; /* Fix the header at the top */
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 2em; /* Add padding */
  z-index: 2; /* Ensure header is on top of the content */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for better separation */
  height: 80px; /* Adjust height if necessary */
  transform: translateY(30px); /* Move header down by 30px */
}

h1#website-title {
  font-family: 'Starlight', sans-serif; /* Use the Starlight font */
  font-size: 3em; /* Larger font size for prominence */
  color: #ffffff; /* White color for the title */
  margin: 0; /* Remove default margin */
}

/* Apply custom font and color to the "About" link */
#about-link {
  font-family: 'Starlight', sans-serif; /* Use the custom font */
  font-size: 1.2em; /* Adjust font size as needed */
  color: #ffffff; /* Default color for the "About" link */
  text-decoration: none; /* Remove underline from link */
}

#about-link:hover {
  color: #FFD700; /* Gold color on hover */
}

nav ul {
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
  margin-top: 10px; /* Adjust this value to move the list down */
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav ul li a {
  color: #e0e0e0; /* Light color for links */
  text-decoration: none;
}

nav ul li a:hover {
  color: #bb86fc; /* Light purple color for link hover effect */
}

main {
  padding: 2em;
  margin: 120px auto 70px; /* Ensure content starts below the header and isn't hidden behind the footer */
  max-width: 900px;
  position: relative; /* Ensure main content is positioned correctly */
  overflow: auto; /* Allow main content to scroll if necessary */
}

section {
  margin-bottom: 2em;
}

h1, h2 {
  color: #ffffff; /* White color for headings */
}

p {
  margin-bottom: 1.5em; /* Add space between paragraphs */
}

footer {
  background-color: #000000; /* Black background for the footer */
  color: #e0e0e0; /* Light text color for contrast */
  text-align: center;
  padding: 1em;
  position: relative; /* Ensure footer stays at the bottom */
}
